*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.div1{
    display: flex; 
    flex-direction: column; 
    width: 40%; 
    height: 70vh; 
    background-color: navajowhite; 
    justify-content: center; 
    align-items: center; 
    margin: 4rem auto; 
    border-radius: 5px;
}

#increment-btn{
    padding: 1rem 5.5rem; 
    margin-top: 2rem;
    font-size: 20px; 
    border-radius: 40px; 
    border: 1px solid orangered;

}


#save-btn{
    padding: 1rem 5rem; 
    margin-top: 2rem; 
    font-size: 20px; 
    border-radius: 40px; 
    border: 1px solid green;
}


.click{
    padding: 1rem 2rem;
}





/* small devices */
@media (max-width: 480px) {

    .div1{
        width: 100%;
        height: 100vh;
        margin: 0 0;
        padding: 3rem 2rem;
        /* background: red; */
        justify-content: start;

    }


    #increment-btn{
        padding: 1rem 4.5rem;
        margin: 1rem 0; 
        font-size: 20px; 
        border-radius: 40px; 
        border: 1px solid orangered;
    
    }


    #save-btn{
        padding: 1rem 4rem; 
        margin: 1rem 0; 
        font-size: 20px; 
        border-radius: 40px; 
        border: 1px solid green;
    }
    
    .click{
        padding: 1rem 2rem;
        text-align: center;
        font-size: 13px;
    }
    
    
}